<h1>Orders#new</h1>

<%= form_tag '/orders', :method => :post do %>
    
    <!-- List available items -->
    <div class="available-items">
        <% @items.each do |item| %>
            <a data-id="<%= item.id %>" href="#"><%= item.name %></a>
        <% end %>
    </div>

    <!-- Show selected items -->

    <ul class="selected-items"></ul>


    <br />
    <input type="submit">
<% end %>

<script type="text/javascript">
    $('.available-items a').on('click', function(e) {
        e.preventDefault();
        var itemId = $(this).attr('data-id');
        console.log('Item ID:', itemId);

        var li = $('<li>').text( $(this).text() );
        var input = $('<input type="hidden" name="item_ids[]">').val(itemId);

        li.append(input);
        $('.selected-items').append(li);
    });
</script>